<ion-content [fullscreen]= "true">
  <ion-list class="ion-margin ion-text-center">
    <img src="assets/imgs/nature.png">
      <!-- <ion-list-header> <ion-label color="light">LOGO</ion-label></ion-list-header> -->
      <ion-button color = "white" expand = "block" shape ="round" 
      routerLink ="login">Acceso con Usuario</ion-button>
      <ion-button  color = "white" expand = "block" shape ="round">Acceso con Google</ion-button>
      <ion-text><p>Eres Nuevo? Crear Usuario</p></ion-text>
  </ion-list>
</ion-content>